electron_mirror=https://npm.taobao.org/mirrors/electron/
registry=https://registry.npm.taobao.org
ELECTRON_BUILDER_BINARIES_MIRROR=http://npm.taobao.org/mirrors/electron-builder-binaries/
#proxy=http://127.0.0.1:10808
#https-proxy=http://127.0.0.1:10808