.grid-contain{
  display: grid;
  grid-template-rows: 20fr 4fr 40fr;
  height: 100vh;
}
.topLeft {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: auto;
  right: 4px;
  top: 8px;
  z-index: 6;
}
.topLeft a{
  color: black;
  text-decoration: none;
  user-select: none;
}
.topLeft a:hover{
  text-decoration: underline;
}
.appDot{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.appDot svg{
  margin: auto;
}
.appDot:hover{
  cursor: pointer;
  background-color: rgba(60,64,67,0.08);
}
.modalSet {
  //background-color: aqua;
  background: #fff;
  opacity: 0;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
  top: 50px;
  right: 4px;
  overflow-x: hidden;
  position: absolute;
  width: 316px;
  height: 436px;
  animation: 1s linear smallToLarge;
  transition: all 0.1s ease-in-out;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  padding: 10px;
}
@keyframes smallToLarge {
  0% {
    transform:scale(0.1) ;
  }
  50%{
    transform:scale(2);
  }
  100%{
    transform:scale(1);
  }
}
.photoContain{
  border-radius: 50%;
}
.photoContain:hover{
  background-color: rgba(60,64,67,0.08);
}
.logo {
  height: 92px;
  width: 272px;
  margin: auto;
  padding-top: 7.2vh;
}
.logoContain{
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.searchInputContain{
  display: flex;
  height: 100%;

}
.search{
  position: relative;
  margin: auto;
  width: 561px;
  height: 44px;
}
.searchIconContain{
  position: absolute;
  z-index: 666;
  top: 21%;
  left: 3.3%;
}
#input{
  background-color: #ffffff;
  border: none;
  border-radius: 22px;
  color: black;
  font-family: inherit;
  font-size: 16px;
  height: 100%;
  outline: none;
  padding-inline-end: 44px;
  padding-inline-start: 52px;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
#input::placeholder{

}

.barContain{
  display: flex;
  justify-content: center;
  margin-top: 1.2vh;
}
.rowNav{
  display: flex;
  width: auto;
}
.displayInline{
  display: inline;
}

.barNav {
  height: auto;
}
.grid-contain > div {
  text-align: center;
}