.grid-contain{
  display: grid;
  grid-template-rows: 20fr 4fr 36fr;
  height: 100vh;
}
.topLeft {
  background: #19CAAD;
  position: fixed;
  width: 200px;
  right: 10px;
}
.iconNav {
  background: #8CC7B5;
}
.inptNav {
  background: #D1BA74;
}
.barNav {
  background: #BEE7E9;
}
.grid-contain > div {
  text-align: center;
  font-size: 200%;
  color: #fff;
}